
.ui.button.cap {
  text-transform: uppercase;
  font-weight: 300;
}

.ui.button.rc-button-black {
  background-color: $black;
  color: #FFF;
  &:hover {
    background-color: darken($black, 5%);
  }
  &:active {
    background-color: darken($black, 15%);
  }
}
.ui.button.rc-button-grey {
  background-color: $grey;
  color: $black;
  &:hover {
    background-color: darken($grey, 5%);
  }
  &:active {
    background-color: darken($grey, 15%);
  }
}
.ui.button.rc-button-red {
  background-color: $red;
  color: #FFF;
  &:hover {
    background-color: darken($red, 5%);
  }
  &:active {
    background-color: darken($red, 15%);
  }
}

.ui.button.rc-button-black-inverted {
  color: $black;
  background-color: transparent;
  box-shadow: 0 0 0 2px $black inset!important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($black, 5%);
  }
  &:active {
    background-color: darken($black, 15%);
  }
}
.ui.button.rc-button-grey-inverted {
  color: darken($grey, 20%);
  background-color: transparent;
  box-shadow: 0 0 0 2px darken($grey, 20%) inset!important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($grey, 5%);
  }
  &:active {
    background-color: darken($grey, 15%);
  }
}

.ui.button.rc-button-red-inverted {
  color: $red;
  background-color: transparent;
  box-shadow: 0 0 0 2px $red inset !important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($red, 5%);
  }
  &:active {
    background-color: darken($red, 15%);
  }
}
