$black: #111;
$white: #FFF;
$grey: #EFEFEF;
$red: #CF1F47;

$blackToDarkRed: linear-gradient(to right, $black, darken($red, 15));
$redToDarkRed: linear-gradient(to right, $red, darken($red, 15));
$darkRedToRed: linear-gradient(to right, darken($red, 15), $red);
$greyToLighterGrey: linear-gradient(to right, darken($grey, 15%), lighten($grey, 20%));

@import './main.scss';
@import './separators.scss';
@import './buttons.scss';
@import './social.scss';
