@import url('https://fonts.googleapis.com/css?family=Lato');

.rc-bg-black {
  background: $black;
}
.rc-bg-grey {
  background: $grey;
}
.rc-bg-white {
  background: $white;
}
.rc-bg-red { background-color: $red; }
.rc-bg-black-to-dark-red { background: $blackToDarkRed; }
.rc-bg-dark-red-to-red { background: $darkRedToRed; }
.rc-bg-red-to-dark-red { background: $redToDarkRed; }
.rc-bg-grey-to-light-grey { background: $greyToLighterGrey }

.rc-text-white { color: $white; }
.rc-text-black { color: $black; }
.rc-text-grey { color: $grey; }
.rc-text-red { color: $red; }


body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: 'Lato', sans-serif;
}
.text-white {
  color: #FFF;
}
h1.rc-h1-red {
  color: $red;
}
h1.rc-h1 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
i{
  font-style: italic;
}

ul, li {
  font-weight: 200;
  list-style: none;
  line-height: 1.9em;
  font-size: 1.2em;
  text-align: left;
  &:before{
    display: none !important;
  }
}

p {
  text-align: justify;
  font-weight: 200;
  line-height: 1.9em;
  font-size: 1.2em;
}
strong {
  font-weight: 500;
}
.light {
  font-weight: 200;
}

/* ================== */
/* TITLES */
/* ================== */

h4.rc-h4 {
  margin-top: 0.2em;
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

h5.rc-h5 {
  margin-top: 0.2em;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 991px) {
  .tablet-hidden {
    display: none !important;
  }
  .computer-only {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .tablet-only {
    display: none;
  }
}
