
.separator-wb {
  background: $black;
  .separator-1 {
    background: $darkRedToRed;
  }
  .separator-2 {
    background: $black;
  }
  .separator-3 {
    background: $black;
  }
}

.separator-rb {
  background: linear-gradient(to right, $black, $red);
  .separator-1 {
    background: linear-gradient(to right, #FAFAFA, $black);
  }
  .separator-2 {
    background: linear-gradient(to right, $black, $red);
  }
  .separator-3 {
    background: $black;
  }
}

.separator-bg {
  background: $black;
  .separator-1 {
    background: $black;
  }
  .separator-2 {
    background: $darkRedToRed;
  }
  .separator-3 {
    background: $grey;
  }
}

.separator-bg2 {
  background: $black;
  .separator-1 {
    background: $black;
  }
  .separator-2 {
    background: $greyToLighterGrey;
  }
  .separator-3 {
    background: $redToDarkRed;
  }
}

.separator-gb {
  background: $grey;
  .separator-1 {}
  .separator-2 {
    background: $redToDarkRed;
  }
  .separator-3 {
    background: $black;
  }
}
.separator-ggradient-b {
  background: $greyToLighterGrey;
  .separator-1 {}
  .separator-2 {
    background: $redToDarkRed;
  }
  .separator-3 {
    background: $black;
  }
}

/*
  WB
*/

.separator-wb, .separator-wbgo {
  height: 120px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 25px;
    transform: rotate(1.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 54px;
    transform: rotate(0.4deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 50px;
    left: -5%;
    height: 90px;
    transform: rotate(-0.2deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}

/*
  BW
*/
.separator-bg, .separator-bg-w, .separator-mw {
  height: 120px;
  width: 100%;
  position: relative;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 69px;
    top: 10px;
    transform: rotate(2.0deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 54px;
    transform: rotate(0.4deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 60px;
    left: -5%;
    height: 100px;
    transform: rotate(-0.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
}

.separator-bg2 {
  height: 120px;
  width: 100%;
  position: relative;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 69px;
    top: 0px;
    transform: rotate(-0.6deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 46px;
    top: 96px;
    transform: rotate(1.3deg);
    transform-origin: 50% 50%;
    z-index: 4;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 74px;
    left: -5%;
    height: 34px;
    transform: rotate(0.1deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
}

/*
  WG
*/

.separator-wg, .separator-bgo-b {
  height: 120px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 24px;
    top: 18px;
    transform: rotate(0.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 40px;
    transform: rotate(0.4deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 50px;
    left: -5%;
    height: 90px;
    transform: rotate(1.6deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}

/*
  GB
*/

.separator-gb, .separator-ggradient-b {
  height: 120px;
  width: 100%;
  position: relative;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 35px;
    transform: rotate(1.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 54px;
    transform: rotate(0.3deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 60px;
    left: -5%;
    height: 100px;
    transform: rotate(-2deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}
