.timeline-Tweet-media, .timeline-Tweet-author{
  display: none;
  opacity: 0;
}

.youtube-media i.big {
  font-size: 3em;
}
.youtube-media i.big.youtube {
  color: #e52d27;
}
.youtube-media .four.wide.column {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}