
.ui.button.rc-button-blue-dark {
  background-color: $main-dark;
  color: #FFF;
  &:hover {
    background-color: darken($main-dark, 5%);
  }
  &:active {
    background-color: darken($main-dark, 15%);
  }
}
.ui.button.rc-button-blue {
  background-color: $main;
  color: #FFF;
  &:hover {
    background-color: darken($main, 5%);
  }
  &:active {
    background-color: darken($main, 15%);
  }
}
.ui.button.rc-button-red {
  background-color: $red;
  color: #FFF;
  &:hover {
    background-color: darken($red, 5%);
  }
  &:active {
    background-color: darken($red, 15%);
  }
}

.ui.button.rc-button-green {
  background-color: $green;
  color: #FFF;
  &:hover {
    background-color: darken($green, 5%);
  }
  &:active {
    background-color: darken($green, 15%);
  }
}

.ui.button.rc-button-blue-dark-inverted {
  color: $main-dark;
  background-color: transparent;
  box-shadow: 0 0 0 2px $main-dark inset!important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($main-dark, 5%);
  }
  &:active {
    background-color: darken($main-dark, 15%);
  }
}

.ui.button.rc-button-blue-inverted {
  color: $main;
  background-color: transparent;
  box-shadow: 0 0 0 2px $main inset!important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($main, 5%);
  }
  &:active {
    background-color: darken($main, 15%);
  }
}

.ui.button.rc-button-green-inverted {
  color: $green;
  background-color: transparent;
  box-shadow: 0 0 0 2px $green inset!important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($green, 5%);
  }
  &:active {
    background-color: darken($green, 15%);
  }
}

.ui.button.rc-button-red-inverted {
  color: $red;
  background-color: transparent;
  box-shadow: 0 0 0 2px $red inset !important;
  &:hover {
    box-shadow: none !important;
    color: #FFF;
    background-color: darken($red, 5%);
  }
  &:active {
    background-color: darken($red, 15%);
  }
}
