$bg-1: #111;
$bg-2: #FFF;
$bg-3: #0096C3;

$main: #1E2830;
$main-dark: #1E1820;

$green: #1C493E;
$orange: #FF6A38;
$red: #CF1F47;

$greenToBlue: linear-gradient(to right, $green, $main);
$blueToGreen: linear-gradient(to right, $main, $green);

@import './main.scss';
@import './separators.scss';
@import './buttons.scss';
@import './social.scss';
