@import url('https://fonts.googleapis.com/css?family=Lato');

.rc-bg-green-to-blue {
  background: $greenToBlue;
}
.rc-bg-blue-to-green {
  background: $blueToGreen;
}

.rc-text-green { color: $green; }
.rc-text-blue { color: $main; }
.rc-text-blue-dark { color: $main-dark; }
.rc-text-orange { color: $orange; }
.rc-text-red { color: $red; }

.rc-bg-green { background-color: $green; }
.rc-bg-blue { background-color: $main; }
.rc-bg-blue-dark { background-color: $main-dark; }
.rc-bg-orange { background-color: $orange; }
.rc-bg-red { background-color: $red; }

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: 'Lato', sans-serif;
}
.text-white {
  color: #FFF;
}
h1.rc-h1-red {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: $red;
}
i{
  font-style: italic;
}

ul, li {
  font-weight: 200;
  list-style: none;
  line-height: 1.9em;
  font-size: 1.2em;
  text-align: left;
  &:before{
    display: none !important;
  }
}

p {
  text-align: justify;
  font-weight: 200;
  line-height: 1.9em;
  font-size: 1.2em;
}
strong {
  font-weight: 500;
}
.light {
  font-weight: 200;
}

/* ================== */
/* TITLES */
/* ================== */

h4.rc-h4 {
  margin-top: 0.2em;
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

h5.rc-h5 {
  margin-top: 0.2em;
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
