
.separator-wb {
  background: $bg-2;
  .separator-1 {
    background: linear-gradient(to right, $main-dark, $main);
  }
  .separator-2 {
    background: $bg-2;
  }
  .separator-3 {
    background: $main;
  }
}

.separator-wbgo {
  background: $bg-2;
  .separator-1 {
    background: linear-gradient(to right, $main-dark, $main);
  }
  .separator-2 {
    background: $bg-2;
  }
  .separator-3 {
    background: $blueToGreen;
  }
}

.separator-gb {
  background: linear-gradient(to right, $main, $green);
  .separator-1 {
    background: linear-gradient(to right, #FAFAFA, $bg-2);
  }
  .separator-2 {
    background: linear-gradient(to right, $main, $green);
  }
  .separator-3 {
    background: $main;
  }
}

.separator-bw {
  .separator-1 {
    background: linear-gradient(to right, $main-dark, $main);
  }
  .separator-2 {
    background: $greenToBlue;
  }
  .separator-3 {
    background: $bg-2;
  }
}

.separator-mw {
  background: $main;
  .separator-1 {
    background: $main-dark;
  }
  .separator-2 {
    background: $green;
  }
  .separator-3 {
    background: #FFF;
  }
}

.separator-bgo-b {
  .separator-1 {
    background: #FFF;
  }
  .separator-2 {
    background: $blueToGreen;
  }
  .separator-3 {
    background: $main;
  }
}
.separator-bg-w {
  overflow: hidden;
  background: $greenToBlue;
  height: 70px !important;
  .separator-1 {
    background: linear-gradient(to right, $main-dark, $main);
  }
  .separator-2 {
    background: linear-gradient(to right, $main, $green);
  }
  .separator-3 {
    background: $bg-2;
  }
}

.separator-wg {
  background: $bg-2;
  .separator-1 {
    background: linear-gradient(to right, $main-dark, $main);
  }
  .separator-2 {
    background: $bg-2;
  }
  .separator-3 {
    background: $greenToBlue;
  }
}

/*
  WB
*/

.separator-wb, .separator-wbgo {
  height: 120px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 25px;
    transform: rotate(1.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 54px;
    transform: rotate(0.4deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 50px;
    left: -5%;
    height: 90px;
    transform: rotate(-0.2deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}

/*
  BW
*/
.separator-bw, .separator-bg-w, .separator-mw {
  height: 120px;
  width: 100%;
  position: relative;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 35px;
    transform: rotate(1.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 54px;
    transform: rotate(0.3deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 60px;
    left: -5%;
    height: 100px;
    transform: rotate(-0.9deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}

/*
  WG
*/

.separator-wg, .separator-bgo-b {
  height: 120px;
  width: 100%;
  position: relative;
  overflow: hidden;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 24px;
    top: 18px;
    transform: rotate(0.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 40px;
    transform: rotate(0.4deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 50px;
    left: -5%;
    height: 90px;
    transform: rotate(1.6deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}

/*
  GB
*/

.separator-gb {
  height: 120px;
  width: 100%;
  position: relative;
  .separator-1 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 35px;
    transform: rotate(1.9deg);
    transform-origin: 50% 50%;
    z-index: 1;
  }
  .separator-2 {
    width: 110%;
    position: absolute;
    left: -5%;
    height: 40px;
    top: 54px;
    transform: rotate(0.3deg);
    transform-origin: 50% 50%;
    z-index: 2;
  }
  .separator-3 {
    width: 110%;
    position: absolute;
    top: 60px;
    left: -5%;
    height: 100px;
    transform: rotate(-2deg);
    transform-origin: 50% 50%;
    z-index: 3;
  }
}
